{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'posts/img/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'posts/css/base.css' %}" />
    <title>{% block title %}Overweb{% endblock %}</title>
  </head>
  <body>
    <div class="logo">
      <img src="{% static 'posts/img/logo.png' %}" alt="Overweb" />
    </div>
    <div class="navbar">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>

        {% if user.is_authenticated %}
        <li><a href="{% url 'post_list' %}">Lista de Posts</a></li>
        <li><a href="{% url 'post_create' %}">Criar Post</a></li>

        <form class="user" action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <a>{{ user.username }}</a>
          <button class="logout" type="submit">Log out</button>
        </form>
        {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'register' %}">Registrar</a></li>
        {% endif %}
      </ul>
    </div>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2024 Overweb. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
