{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="{% static 'posts/img/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'posts/css/base.css' %}" />
    <title>{% block title %}Meu Site{% endblock %}</title>
  </head>
  <body>
    <div class="navbar">
      <img src="{% static 'posts/img/logo.png' %}" alt="Overweb" />
      <ul class="navbar-list">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">Sobre</a></li>
        <li><a href="/contact/">Contato</a></li>
      </ul>
    </div>

    <main>{% block content %}{% endblock %}</main>

    <footer>
      <p>&copy; 2024 Overweb. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>
