@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  font-family: Inter, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  background-color: #5271ff;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 0.1rem;
}

.logo > img {
  height: 15rem;
}

.navbar {
  background-color: #5272ff;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
}

.navbar > ul {
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 1.4rem;
}

.navbar > ul > li {
  list-style: none;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: #fff;
}

.user {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
}

.user > a {
  color: #136de2;
  font-weight: bolder;
}

.user > .logout {
  background-color: #ff5252;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.user > .logout:hover {
  background-color: #ff0000;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5271ff;
  color: #fff;
  height: 5rem;
  font-size: 2rem;
}

footer > p {
  margin-right: 1rem;
}
