{% extends 'base.html' %} {% block title %}Detalhes do Post: {{object.title}}
{%endblock %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'posts/css/posts/post_detail.css' %}" />

<div class="container">
  <div class="header">
    <h2>{{ object.title }}</h2>
    <p>{{ object.content }}</p>
  </div>
  {% if object.image %}
  <img style="width: 500px" src="{{object.image.url}}" alt="{{object.title}}" />
  {% endif %}
  <a href="{% url 'post_update' pk=object.pk %}">Editar</a>
  <form
    action="{% url 'post_delete' pk=object.pk %}"
    method="post"
    style="display: inline"
  >
    {% csrf_token %}
    <button type="submit">Excluir</button>
  </form>
</div>
{% endblock %}
