{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="shortcut icon"
      href="{% static 'posts/img/favicon.ico' %}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{% static 'posts/css/posts/post_list.css' %}"
    />
    <title>Lista de Posts</title>
  </head>
  <body>
    <div class="navbar">
      <img src="{% static 'posts/img/logo.png' %}" alt="Overweb" />
      <ul class="navbar-list">
        <li><a href="/">Home</a></li>
        <li><a href="/about/">Sobre</a></li>
        <li><a href="/contact/">Contato</a></li>
      </ul>
      <div class="user">
        <a>{{ user.username }}</a>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit">Log out</button>
        </form>
      </div>
    </div>

    <div class="post">
      <a href="{% url 'post_create' %}">Criar Postagem</a>
    <div/>

    {% if USER %}
    <a href="{% url 'post_create' %}">Criar Conteúdo </a>
    {% endif %}

    <div class="container">
      <h1>Lista de Posts</h1>
      <ul class="container-list">
        {% for post in posts %}
        <li>
          {{ post.title }} - {{ post.pub_date }}
          <a href="{% url 'post_detail' post.pk %}">Detalhes</a>
          <a href="{% url 'post_update' post.pk %}">Editar</a>
          <a href="{% url 'post_delete' post.pk %}">Excluir</a>
        </li>
        {% endfor %} {% if pertence_ao_grupo %}
        <a href="{% url 'create_content' %}">Criar Conteúdo </a>
        {% endif %}
      </ul>
    </div>
  </body>
</html>
