@charset 'UTF-8';

:root {
  font-size: 62.5%; /* 1rem = 10px */
}

* {
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;

  margin: 2rem;
  padding: 20px;
  border: 0.1rem solid #ccc;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}

.posts-container > h1 {
  margin-bottom: 2rem;
  font-size: 2.4rem;
  color: #333;
}

.posts-container > form {
  margin-bottom: 2rem;
}

.posts-container > form > input[type='text'] {
  padding: 0.5rem;
  width: 20rem;
  font-size: 1.6rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
}

.posts-container > form > button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}

.post-item {
  list-style: none;
  margin-bottom: 1rem;
  padding: 1rem;
  border: 0.1rem solid #ddd;
  border-radius: 0.5rem;
  background-color: #fff;
}

.post-item > a {
  text-decoration: none;
  color: #007bff;
  margin-right: 1rem;
}

.post-item > button {
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.post-item > button:hover {
  background-color: #0056b3;
}

.post-item-name {
  font-weight: bold;
  color: #333;
}

.post-item-name:hover {
  color: #007bff;
}

select {
  padding: 0.8rem;
  font-size: 1.6rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  background-color: #fff;
  cursor: pointer;
}

select:focus {
  outline: none;
  border-color: #007bff; /* Cor azul para indicar foco */
}

select option {
  padding: 0.8rem;
  font-size: 1.6rem;
  background-color: #fff;
}
